<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acess</title>
    <link rel="icon" type="image/png" href="/image/Acess%20logo/logo.png?v=1.0" />
  </head>
  <body>
    <link href="/css/404 page.css" rel="stylesheet" type="text/css" />

    <div class="container image-container" style="text-align: center">
      <div class="container">
        <img
          src="../image/vectors/404.png"
          alt="404 page"
          style="height: 700px; width: 700px"
        />
      </div>

      <P
        >Looks like you have lost. Head back to our
        <a href="/home" style="color: blue">Home page</a></P
      >
    </div>
  </body>
</html>
