<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acess</title>
    <link rel="icon" type="image/png" href="/image/Acess%20logo/logo.png?v=1.0" />
  </head>
  <body>
    <link href="/css/protected.css" rel="stylesheet" type="text/css" />

    <div class="container image-container" style="text-align: center">
      <div class="container">
        <img
          src="../image/vectors/protected.png"
          alt="404 page"
          style="height: 650px; width: 650px"
        />
      </div>

      <P
        ><a href="/signup" style="color: blue">Sign up</a> or
        <a href="/login" style="color: blue">Login</a> to continue!</P
      >
    </div>
  </body>
</html>
