@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
html{
  height: auto;
  width: auto;
  margin: 0;
} 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  
}
body{
  height: auto;
  width: auto;
  margin: 0;
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}
